body {
    background-image: url("../img/madera.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    ;
}


/* --------------------------------------------------------------------- */
/* -----------------------  HEADER  --------------------------------------- */
/* -------------------------------------------------------------------- */




header {
    width: 90%;
    margin: 0 auto;
    background-image: url("../img/mesa.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    /* background-position-y: -5.6rem; */
}


/* --------------------   NAV.HEADER   -------------------------------------------- */


nav {
    background-color: rgba(0, 0, 0, 0.6);
    background-size: 100%;
}

.logo {
    height: 8rem;
}

.links {
    color: rgb(220, 209, 154);
    font-size: 1.2rem;
    font-weight: bold;
}

.links:hover {
    color: rgb(242, 238, 218);
}

.navegacion li {
    margin-right: 2%;
}

.redes {
    width: 1.2rem;
    margin-right: auto;
    margin-left: auto;
}

.redesA {
    margin-right: 2%;
}

.navbar-toggler {
    color: none;
    background-color: rgba(220, 209, 154, 0.9);
    margin-right: 5%;
    border-radius: 10px;
}

.navbar-nav {
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}




/* --------------------   PRODUCTOS.HEADER  -------------------------------------------- */


.tituloDiv {
    width: 38%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 10%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1rem;
    border-radius: 10px;
}

.titulo {
    text-align: center;
    color: rgb(205, 250, 137);
    font-size: 4rem;
    text-decoration: 3px underline;
    font-family: 'Parisienne', cursive;
}

.subrayado {
    width: 30rem;
    height: 1.5rem;
    margin-top: -2.5rem;
}

.tituloParrafo {
    color: rgb(220, 209, 154);
    line-height: 2rem;
}

.tituloDiv a {
    text-decoration: none;

}

.aParrafo {
    text-decoration: none;
    color: rgb(220, 209, 154);
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
    /* border: 3px solid rgb(220, 209, 154);
    border-radius: 20%; */
    /* width: 60%; */
    padding: .5rem;
    margin-right: auto;
    margin-left: auto;

}

.aParrafo:hover {
    color: rgb(242, 238, 218);
}

.animate__fadeIn {
    animation-duration: 4s;
}

/* --------------------------------------------------------------------- */
/* -----------------------  MAIN  --------------------------------------- */
/* -------------------------------------------------------------------- */





/* --------------------  BODEGA.MAIN  -------------------------------------------- */


main {
    background-image: url("../img/verde.png");
    width: 90%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainBodega {
    padding-top: 4.5rem;
    padding-bottom: 5rem;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 75%, rgba(255, 255, 255, 0) 100%);
}

.tituloBodega {
    color: rgb(247, 251, 179);
    font-family: 'Parisienne', cursive;
    font-size: 3rem;
    text-decoration: 2px underline;

}

.parrafoBodega {
    color: rgb(242, 238, 218);
    padding: 0 5%;
    padding-top: .5rem;
    line-height: 1.7rem;
}

.linkBodegas {
    text-decoration: none;
}

.linkBodegasP {
    color: rgb(242, 238, 218);
    font-weight: bold;
    font-size: 1.4rem;
    padding-top: 1rem;
}

.linkBodegasP:hover {
    color: rgb(247, 251, 179);
}

.imagenesBodega {
    height: 30rem;
    margin-top: 6rem;
    /* background-image: url("../img/mimbre1.png"); */
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    transition: all 1s;
    animation: mimbre 20s infinite;


}

@keyframes mimbre {
    0% {
        background-image: url("../img/mimbre2.png");
    }

    23% {
        background-image: url("../img/mimbre2.png");
    }

    33% {
        background-image: url("../img/mimbre1.png");
    }

    56% {
        background-image: url("../img/mimbre1.png");
    }

    66% {
        background-image: url("../img/mimbre3.png");
    }

    90% {
        background-image: url("../img/mimbre3.png");
    }

    100% {
        background-image: url("../img/mimbre2.png");
    }
}

.separador {
    background-color: black;
    width: 100%;
    height: 3rem;
}


/* -------------------  FINCAS.MAIN  -------------------------------------------- */


.mainFincas {

    padding-top: 4.5rem;
    padding-bottom: 5rem;
    background: rgb(0, 0, 0);
    background: linear-gradient(270deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 75%, rgba(255, 255, 255, 0) 100%);

}

.imagenesFincas {
    animation: finca 20s infinite;
}

@keyframes finca {
    0% {
        background-image: url("../img/finca1.png");
    }

    23% {
        background-image: url("../img/finca1.png");
    }

    33% {
        background-image: url("../img/finca2.png");
    }

    56% {
        background-image: url("../img/finca2.png");
    }

    66% {
        background-image: url("../img/finca3.png");
    }

    90% {
        background-image: url("../img/finca3.png");
    }

    100% {
        background-image: url("../img/finca1.png");
    }
}


/* --------------------  CONTACTO.MAIN  -------------------------------------------- */

.fondoEscribinos {
    background-image: url("../img/escribinos.jpg");
    background-size: cover;
    background-position: right;
}

.botonEscribinos {
    color: rgb(242, 238, 218);
    border-color: rgb(242, 238, 218);
}

.botonEscribinos:hover {
    background-color: rgb(247, 251, 179);
}

.escribinosContenedor {
    background-color: rgba(0, 0, 0, 0.6);
    width: 60%;
    margin: 4rem;
    padding: 2rem;
    border-radius: 10px;
}

.tituloEscribinos {
    color: rgb(247, 251, 179);
    font-weight: bold;
}

.parrafoEscribinos {
    color: rgb(242, 238, 218);
    padding: 0 5%;
    padding-top: .5rem;
    line-height: 1.7rem;
}


/* --------------------------------------------------------------------- */
/* -----------------------  FOOTER  --------------------------------------- */
/* -------------------------------------------------------------------- */



.footer {
    background-color: black;
    color: rgb(242, 238, 218);
    display: flex;
    justify-content: space-evenly;
    padding: .8rem 0 0 0;
    font-size: .8rem;

}









/* --------------------------------------------------------------------- */


/* --------------------------------------------------------------------- */
/* -----------------------  PRODUCTOS.HTML  ------------------------------ */
/* -------------------------------------------------------------------- */


/* -------------------------------------------------------------------- */










.headerProductos {
    background-image: url("../img/productos.avif");
}

.productosDiv {
    height: 20rem;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(247, 251, 179);

}

.productosH1 {
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: .5rem;
    margin-top: -5rem;

}

.productosMayor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;

}

.card {
    margin: 1rem;
    background-color: rgb(242, 238, 218);
}

.card-title {
    font-weight: bold;

}











/* --------------------------------------------------------------------- */


/* --------------------------------------------------------------------- */
/* -----------------------  CONTACTO.HTML  ------------------------------ */
/* -------------------------------------------------------------------- */


/* -------------------------------------------------------------------- */




.mainContacto {
    padding: 2rem 0;
}

.headerContacto {
    background-image: url("../img/contacto.jpg");
}

fieldset {
    border: none;
    /* padding-top: 2rem; */
    padding: 2rem;
}

.formulario {
    background-color: rgba(0, 0, 0, 0.6);
    width: 60%;
    margin: 0 auto;
    border-radius: 10px;
}

legend {
    color: rgb(242, 238, 218);
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding: 2rem;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.campo {
    margin-bottom: 1rem;

}

label {
    color: rgb(242, 238, 218);
    margin-bottom: 0.5;
    display: block;

}

.inputEstilo {
    width: 100%;
    border: none;
    padding: 1rem;
    border-radius: 10px;
}

textarea {
    height: 10rem;
    resize: none;
}


.botonFormularioDiv {
    display: flex;
    justify-content: center;
}

.botonFormulario {
    background-color: white;
    text-decoration: none;
    /* padding: 1rem  1.5rem; */
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    text-align: center;
    width: 40%;
}

.botonFormulario:hover {
    background-color: rgb(247, 251, 179);
}









/* --------------------------------------------------------------------- */


/* --------------------------------------------------------------------- */
/* -----------------------  BODEGA.HTML  ------------------------------ */
/* -------------------------------------------------------------------- */


/* -------------------------------------------------------------------- */








.headerBodega {
    background-image: url("../img/bodega.jpg");
    background-position: right;
}

.bodegaMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.imagenesBodegaPag {
    width: 100%;
}

.bodegaMain h2 {
    padding-top: 3rem;
    font-weight: bold;
    color: rgb(242, 238, 218);
    text-decoration: underline;
}

.bodegaMain p,
.bodegaMain ul {
    width: 60%;
    color: rgb(242, 238, 218);
    padding: 2rem;
    font-size: 1.2rem;
    line-height: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}







/* --------------------------------------------------------------------- */


/* --------------------------------------------------------------------- */
/* -----------------------  FINCAS.HTML  ------------------------------ */
/* -------------------------------------------------------------------- */


/* -------------------------------------------------------------------- */







.headerFincas {
    background-image: url("../img/fincas.jpg");
}












/* --------------------------------------------------------------------- */
/* -----------------------  MEDIA QUERIES  -------------------------------- */
/* -------------------------------------------------------------------- */



@media (max-width: 992px) {
    .tituloDiv {
        width: 50%;
    }

    .mainBodega {
        background: rgb(0, 0, 0);
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 75%, rgba(255, 255, 255, 0) 100%);
    }

    .imagenesBodega {
        margin-top: -2rem;
        /* width: 100%; */
    }

    .imagenesFincas {
        margin-top: 0;
        grid-row: 2;
    }

    .rowFincas {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }

    .mainFincas {
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 75%, rgba(255, 255, 255, 0) 100%);
    }

    .separadorFincas {
        margin-top: -5rem;
    }
}




@media (max-width: 768px) {
    .tituloDiv {
        width: 60%;
    }

    .imagenesBodega {
        margin-top: -5rem;
    }

    .mainBodega {
        background: rgb(0, 0, 0);
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 75%, rgba(255, 255, 255, 0) 100%);
    }

    .imagenesFincas {
        margin-top: -2rem;
    }

    .separadorFincas {
        margin-top: -12rem;
    }

    .escribinosContenedor {
        width: 80%;
    }

    .productosH1 {
        font-size: 3rem;
    }

    .bodegaMain h2 {
        font-size: 1.5rem;
    }
}




@media (max-width: 576px) {
    .tituloDiv {
        width: 80%;
    }

    .imagenesBodega {
        margin-top: -6rem;
    }

    .mainBodega {
        background: rgb(0, 0, 0);
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 75%, rgba(255, 255, 255, 0) 100%);
    }

    .imagenesFincas {
        margin-top: -2rem;
    }

    .separadorFincas {
        margin-top: -16rem;
    }

    .escribinosContenedor {
        width: 95%;
    }

    .footer {
        flex-direction: column;
        align-items: center;
    }

    .productosH1 {
        font-size: 2rem;
    }

    .bodegaMain h2 {
        font-size: 1.2rem;
    }

    .botonFormulario{
        font-size: .9rem;
        width: 50%;
    }
}